.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 52px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    height: var(--default-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    width: var(--default-layout-width, 1050px);
    height: 100%;
    padding: 0px var(--default-layout-horizontal-spacer);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

// Actions
.action {
    display: flex;
    align-items: center;
}

.action-btn,
.download-btn,
.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 16px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    padding: 0;
    width: 32px;
    height: 32px;
}

.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
    cursor: pointer;
}

.more-btn {
    padding: 4px 4px;
}
